body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.App {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
}

li {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  margin-bottom: 20px;
}

li div {
  width: 32px;
  height: 32px;
  background: #e0e0e0;
}

.light li div {
  background: #000;
}
