{
  "env": {
    "test": {
      "presets": ["env", "react"],
      "plugins": [
        "babel-plugin-transform-async-to-generator",
        "babel-plugin-transform-object-rest-spread",
        "babel-plugin-transform-class-properties",
        "babel-plugin-transform-runtime",
        "babel-plugin-syntax-dynamic-import",
        "babel-plugin-lodash",
        [
          "react-loadable/babel",
          {
            "server": true,
            "webpack": true
          }
        ],
        "babel-plugin-system-import-transformer",
        "babel-macros"
      ]
    }
  }
}
