{
  "extends": ["airbnb", "prettier", "prettier/react"],
  "plugins": ["react-hooks"],
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "jest": true,
    "es6": true
  },
  "globals": {
    "VERSION": true,
    "$PropertyType": true,
    "TimeoutID": true,
    "object": true,
    "__DEV__": true,
    "Stripe": true
  },
  "rules": {
    "react/jsx-filename-extension": 0,
    "react/sort-comp": 0,
    "react/destructuring-assignment": 0,
    "react/state-in-constructor": 0,
    "react/jsx-props-no-spreading": 0,
    "react/static-property-placement": 0,
    "react/jsx-no-useless-fragment": "error",
    "react/jsx-curly-brace-presence": 0,
    "import/no-extraneous-dependencies": 0,
    "import/no-cycle": "warn",
    "react/prop-types": 0,
    "arrow-parens": 0,
    "prefer-destructuring": 0,
    "no-async-promise-executor": "warn",
    "import/prefer-default-export": 0,
    "class-methods-use-this": 0,
    "jsx-a11y/click-events-have-key-events": "warn",
    "no-console": ["error", { "allow": ["error", "warn"] }],
    "prefer-template": "off",
    "no-plusplus": 0,
    "no-underscore-dangle": "off",
    "no-nested-ternary": "warn",
    "react/require-default-props": "off",
    "import/no-named-default": 0,
    "import/no-webpack-loader-syntax": 0,
    "import/extensions": [
      "error",
      "always",
      {
        "ts": "never",
        "tsx": "never",
        "js": "never"
      }
    ],
    "import/default": "error",
    "no-param-reassign": ["error", { "props": false }],
    "camelcase": 0,
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "jsx-a11y/href-no-hash": "off",
    "jsx-a11y/anchor-is-valid": [
      "warn",
      { "aspects": ["noHref", "invalidHref"] }
    ],
    "jsx-a11y/label-has-for": "off",
    "no-bitwise": "off",
    "arrow-body-style": "off",
    "no-restricted-globals": "off",
    "no-restricted-syntax": "off",
    "lines-between-class-members": [
      "error",
      "always",
      {
        "exceptAfterSingleLine": true
      }
    ],
    "max-classes-per-file": "off"
  },
  "overrides": [
    {
      "files": ["**/*.ts", "**/*.tsx"],
      "parser": "@typescript-eslint/parser",
      "parserOptions": {
        "ecmaVersion": 2018,
        "sourceType": "module",
        "ecmaFeatures": { "jsx": true },
        "warnOnUnsupportedTypeScriptVersion": true
      },
      "plugins": ["@typescript-eslint"],
      "rules": {
        "default-case": "off",
        "no-dupe-class-members": "off",
        "no-array-constructor": "off",
        "@typescript-eslint/no-array-constructor": "warn",
        "@typescript-eslint/no-namespace": "error",
        "no-use-before-define": "off",
        "@typescript-eslint/no-use-before-define": [
          "warn",
          {
            "functions": false,
            "classes": false,
            "variables": false,
            "typedefs": false
          }
        ],
        "no-unused-vars": "off",
        "no-undef": "off",
        "@typescript-eslint/no-unused-vars": [
          "error",
          { "args": "none", "ignoreRestSiblings": true }
        ],
        "no-useless-constructor": "off",
        "@typescript-eslint/no-useless-constructor": "warn",
        "import/extensions": 0,
        "import/no-unresolved": 0,
        "no-shadow": "off",
        "@typescript-eslint/no-shadow": ["error"],
        "spaced-comment": "warn"
      }
    }
  ]
}
