{
  "extends": [
    "airbnb",
    "prettier",
    "prettier/react",
    "prettier/flowtype"
  ],
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "jest": true,
    "es6": true
  },
  "globals": {
    "Raven": true,
    "VERSION": true
  },
  "rules": {
    "react/jsx-filename-extension": 0,
    "react/sort-comp": 0,
    "import/no-extraneous-dependencies": 0,
    "arrow-parens": 0
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "config/webpack.config.js"
      }
    }
  }
}
