# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
coverage

# production
build
www
.deliver

# misc
.DS_Store
npm-debug.log
yarn-error.log
.vscode
.idea
jest
