!/standalone-packages/vscode/src/vs/codesandbox/
!/standalone-packages/vscode/src/vs/codesandbox/*
!/standalone-packages/vscode/src/vs/codesandbox/**/*.ts
!/standalone-packages/vscode/src/vs/codesandbox/**/*.*

static/
/package.json
/standalone-packages/*

# Our server side code changes html, we don't want to unintentionally break this by formatting
*.html
