!/standalone-packages/vscode/src/vs/codesandbox/
!/standalone-packages/vscode/src/vs/codesandbox/*
!/standalone-packages/vscode/src/vs/codesandbox/**/*.ts
!/standalone-packages/vscode/src/vs/codesandbox/**/*.*

lib/
static/
/standalone-packages/*

# Наш серверный код изменяет html, мы не хотим непреднамеренно нарушать это форматированием
*.html

.drone.yml
