language: node_js
node_js:
  - "8"
env:
  - CXX=g++-4.8
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-4.8
script:
  - npm run compile
  - npm run test-travis
after_script:
 - remap-istanbul -i ./coverage/coverage.json -t lcovonly > ./coverage/lcov-remap.info
 - cat ./coverage/lcov-remap.info | ./node_modules/coveralls/bin/coveralls.js