<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title
			| VSCode.pro — Become a VSCode Power User.
	body
		h1 Visual Studio Power Developers Save 30 mins to an hour daily.
