.sandpack-Navigator__container {
  display: flex;
  align-items: center;

  background-color: rgb(245, 245, 245);
  width: 100%;
  padding: 0.5rem;

  border-radius: 2px;
  border-bottom: 1px solid #ddd;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-left: 0;
  }
}

.sandpack-Navigator__input {
  background-color: white;
  width: 100%;
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
  border: 1px solid #ddd;
  font-size: 0.875rem;
  margin: 0 0.25rem;

  flex: 1;
}

.sandpack-Navigator__button {
  transition: 0.3s ease background-color;

  padding: 2px;
  margin: 0 0.25rem;
  font-size: 1.25rem;
  background-color: transparent;
  border: 0;
  outline: 0;

  display: flex;
  align-items: center;

  color: rgb(114, 114, 114);
  vertical-align: middle;

  cursor: pointer;

  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
}
